{% extends 'recipes/base.html' %}
{% block title %}{{ block.super }} {{ user }} profile {% endblock title %}
{% block content %}
<h1>{{ user }} profile<a href="{% url 'update_profile' %}">(Update)</a></h1>

<h3><div class='flex-profile'>
    {% if user.profile and user.profile.photo %}
    <div>
        <img class='profile-img' src="{{ user.profile.photo.url }}" class="user-profile-photo">
    </div>
    {% endif %}

        <p><b>Name:</b> {% if user.first_name %}{{ user.first_name }}{% else %} Mr/Mrs. ? <a href="{% url 'update_profile' %}">Update</a> profile information.{% endif %}</p>
        <p><b>Last Name:</b> {% if user.last_name %}{{ user.last_name }}{% else %} Mr/Mrs. ? <a href="{% url 'update_profile' %}">Update</a> profile information.{% endif %}</p>
        <p><b>Email:</b> {% if user.email %}{{ user.email }}{% else %} None. <a href="{% url 'update_profile' %}">Update</a> profile information.{% endif %}</p>
        <p><b>Type:</b> {% if user.profile.profile_type %} {{user.profile.profile_type }}{% else %} No type selected >> <a href="{% url 'update_profile' %}">Update</a> profile information.{% endif %}</p>
        <p><b>About:</b> {% if user.profile.profile_type %} {{user.profile.about }}{% else %} Click to provide details about you >> <a href="{% url 'update_profile' %}">Update</a> profile information.{% endif %}</p>
    </div>
</h3>

</div>

{% endblock content %}