{% extends 'recipes/base.html' %}
{% block title %}Recipes Section{% endblock title %}
{% block content %}
<h1>Share you recipe with us!</h1>
<div>
    <h3><form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    
        <button class="button-85" role="button" class="button" type=submit />Add</a></button>
        <button class="button-85" role="button"><a href="{% url 'recipes' %}">Go back</a></button>  
    </form>
</div>
{% endblock content %}