<!DOCTYPE HTML>
{% extends 'recipes/base.html' %}
{% load static %}
{% block title %}Recipes Section{% endblock title %}
{% block content %}
    <h1>Welcome to Recipes Section</h1>
    <div class="left-bar">
        <h3>Latest comments</h3>
        <ul>
            {% for com in recipe_comments|slice:":5" %}
                <li class=""><b>{{ com.writer }}</b> wrote </li>
                <li class="">"{{ com.comment|truncatechars:10}}" on</li>
                <li class=""><b>"{{ com.recipe.name|truncatechars:14 }}"</b> recipe<a>{{recipe}} at</a></li>
                <li class="">{{ com.created_on }}</li>
                <hr>
            {% endfor %}
        </ul>
    </div>
    <p>We hope you will find some thing that satisfes you, 
        we curently  have <b>{{ recipes_count }}</b> recipes in total.. Bon Apetite!</p>
        <p>Have some ideas? <button class="button-85" role="button"><a href="{% url 'add_recipe' %}" class="button">Add a Recipe</a></button></p>
    <div>
        <form action="{% url 'recipes' %}" method="get">
            <p>Search by recipe name or ingredient: <input type="text" name="search" value="{{ request.GET.search }}"> <button button class="button-85" role="button" type="submit">search</button></p>
        </form>
    </div>
    <ul class="recipe-list">
        {% for recipe in recipe_list %}
            <li class='recipe'>
                <a href="{% url 'recipe' recipe.pk %}">
                {% if recipe.picture %}
                    <img src="{{ recipe.picture.url }}">
                {% else %}
                    <img src="{% static 'recipes/img/food-question-mark.jpg' %}">
                {% endif %}
            <b>"{{ recipe.name}}"</b></a> by <b>{{ recipe.author }}</b>, created at {{ recipe.created_on }} 
            <button class="button-10" role="button"><a href="{% url 'user_recipe_update' recipe.pk %}">Update</a></button>
            <button class="button-10" role="button"><a href="{% url 'user_delete_recipe' recipe.pk %}">Delete</a></button>      
        </li>
        {% endfor %}
    </ul>
    <div class="paginator">
        {% if page_obj.has_previous %}
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page=1">First</a>
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.previous_page_number }}">Back</a>
        {% endif %}
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
    
{% endblock content %}
