{% extends 'recipes/base.html' %}
{% load static %}
{% load ratings %}
<html>
{% block title %}{{ object }}{% endblock title %}
{% block content %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <h1>"{{ object.name }}" recipe</h1>
    <h3>By {{ object.author }} ({{ object.author.profile.profile_type }})</h3>
    <div class='picture-detail-view'>{% if object.picture %}
        <img src="{{ object.picture.url }}" class="recipe-photo"></img>
    {% endif %}
    </div>
    <p>Ingredients:
        {% for i in object.ingredients.all %}
            {{ i }}.
        {% endfor %}
    </p>
    <p>Instructions: {{ object.steps }}</p>
    <p>Duration: {{ object.duration }} min.</p>
    <p>Calories: {{ object.calories }} cal</p>
    <p>Servings: {{ object.servings }}</p>
    <p>Created on: {{ object.created_on }}</p>
    
    <p><button><a href="{% url 'add_ingredient' %}" class="button">Add ingredients</a></button></p>
    <hr>
    <div class="ratings">
            ...
        {% ratings object %}
    </div>
    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <div class="comment-form">
            <p>Comment if you have questions, or you have tried the recipe. Maybe you have some suggestions? Please share with us!</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit">Post Comment</button></p>
            </form>
        </div>
    {% endif %}
    {% if recipe.comments %}
        {% for comment in recipe.comments.all %}
            <div class='recipe-comment'>
                <h4>By: {{ comment.writer }} ({{ comment.writer.profile.profile_type }})
                <span class='float-right'>{{ comment.created_on }}</span></h4>
            <p>{{ comment.comment }}</p>
            <hr>
            </div>
        {% endfor %}    
    {% endif %}
  
{% endblock content %}