{% extends 'recipes/base.html' %}
{% load static %}
{% block title %}Updating a recipe {{ block.super }}{% endblock title %}
{% block content %}
<div>
    <h3>{% if recipe %}<p>Recipe "{{ recipe.name }}" Updating</p>{% endif %}</h3>
    <h3><form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-85" role="button" class="button" type=submit />Update</a></button>
        <button class="button-85" role="button"><a href="{% url 'recipes' %}" class="button">Go Back</a></button>
    </form></h3>
</div>
{% endblock content %}